.hide {
	display:none;
}

h1 {
	margin:0;
}

.bg1 {
	background:#f5f5f5;
}

.prel {
	position:relative
}

.tcenter {
	text-align:center;
}

.hauto {
	height:auto;
}

header  {
	padding:1em 3em 0;
}

.quiz {
	padding:0 3em 1em;
}

.quiz ul {
	margin:0;
	padding:0;
	list-style:none;
}

.quiz .row > div {
	min-height:200px;
}

.quiz .row > div.answer {
	min-height:80px;
}

.correct {
	position:absolute;
	top:125px;
	right:3em;
	height:20px;
	width:21px;
	background:url(../images/icons/correct.png);
}
	
.wrong {
	position:absolute;
	top:125px;
	right:3em;
	height:20px;
	width:21px;
	background:url(../images/icons/wrong.png);
}

.quiz2 .correct,
.quiz2 .wrong {
	top:5px;
}

.description {
	background:#e6eaee;
	border:1px solid #cdd9e1;
	padding:15px 4em;
	word-spacing:20px;
}
	







